<!DOCTYPE html>
<html lang="pr-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enterternimento</title>
</head>
<body>
    <header style="display: flex;">
        <!--section foto de perfil-->
<section>
    <img src="bola.png" alt="100px" height="100px" width="100px">
</section>
<!--section informações pessoais-->
<section>
    <br> <br> <br>
  &nbsp; &nbsp; &nbsp;  José Igor| 20 Anos | @igorr_galego01 | joseigorarruda@outlook.com
</section>
    </header> 
    <nav>
        <!--Tag href refere-se a um link de navegação-->
        <hr>
        <a href="mySite.html">Eu e eu mesmo</a>
        <a href="entreternimento.html">Enterternimento</a>
        <a href="musicas.html">Música</a>
        <a href="Mycontatos.html">Fala Comigo</a>
        <hr>
    </nav>
    
    <!--Seção de Entertenimento-->
    <article>
        <h3>Neon Genesis Evangelion</h3>
        <h5>Curto:5/5</h5>
        <p>
            <img src="transferir (1).jfif" alt="" height="100px" width="80px">
        </p>
        <p>
            <strong>Neon Genesis Evangelion</strong>(em japonês: 新世紀エヴァンゲリオン Shin Seiki Evangerion?, lit. "Evangelho do Novo Século") é uma 
            <br>série de anime japonesa do gênero mecha dirigida por Hideaki Anno, produzida pelo estúdio Gainax e animada 
           <br> pela Tatsunoko que foi transmitida pela 
            TV Tokyo de 4 de outubro de 1995 a 27 de março de 1996.<br>
             O elenco inclui Megumi Ogata como Shinji Ikari,
             Kotono Mitsuishi como Misato Katsuragi, Megumi
             Hayashibara como Rei Ayanami e Yuko Miyamura como Asuka Langley Soryu.
             <br> A música foi composta por Shirō Sagisu.
           <br> Evangelion se passa quinze anos após um cataclismo mundial, particularmente na futurística cidade fortificada de Tóquio-3.<br>
             O protagonista é Shinji,
             um adolescente que foi recrutado por seu pai, Gendo, para uma misteriosa
            <br> organização chamada Nerv para pilotar em combate uma biomáquina gigante conhecida como <br>"Evangelion" contra seres chamados "Anjos". 
             A série explora as experiências e emoções dos pilotos dos Evangelions e membros da Nerv enquanto tentam
             <br>evitar que os Anjos causem mais cataclismos.<br> No processo, eles são chamados a
              compreender as últimas causas dos eventos e os motivos da ação humana.
        </p>
        <p>
            para conheçer mais <a href="https://neongenesisevangelion.fandom.com/pt-br/wiki/Neon_Genesis_Evangelion"Clique Aqui >clique aqui</a>
        </p>
    </article>
<article>
<h3>Hellsing ultimate</h3>
<h5>curto 5/5</h5>
<p>

</p>
<p>
    
</p>
</article>
</body>
</html>