<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top 10 So as do rock Bandas e suas músicas</title>
</head>
<body>
    <header style="display: flex;">
        <!--section foto de perfil-->
<section>
    <img src="images.png" alt="100px" height="100px" width="100px">
</section>
<!--section informações pessoais-->
<section>
    <br> <br> <br>
  &nbsp; &nbsp; &nbsp;  José Igor| 20 Anos | @igorr_galego01 | joseigorarruda@outlook.com
</section>
    </header> 
    <!--Navegação da Minha Pagina-->
    <nav>
        <!--Tag href refere-se a um link de navegação-->
        <hr>
        <a href="mySite.html">Eu e eu mesmo</a>
        <a href="entreternimento.html">Enterternimento</a>
        <a href="musicas.html">Música</a>
        <a href="Mycontatos.html">Fala Comigo</a>
        <hr>
    </nav>

    <!--Aqui começa a minha lista-->
    <main>
        <ol>
            <li>Iron Maiden</li>
            <li>Metallica</li>
            <li>Nirvana</li>
            <li>Guns'n Roses</li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
    </main>
    <footer>
        by José Igor &copy;
    </footer>
</body>
</html>