<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deixe sua mensagem</title>
</head>
<body>
    <header style="display: flex;">
        <!--section foto de perfil-->
<section>
    <img src="images.png" alt="100px" height="100px" width="100px">
</section>
<!--section informações pessoais-->
<section>
    <br> <br> <br>
  &nbsp; &nbsp; &nbsp;  José Igor| 20 Anos | @igorr_galego01 | joseigorarruda@outlook.com
</section>
    </header> 
    <nav>
        <!--Tag href refere-se a um link de navegação-->
        <hr>
        <a href="mySite.html">Eu e eu mesmo</a>
        <a href="entreternimento.html">Enterternimento</a>
        <a href="musicas.html">Música</a>
        <a href="Mycontatos.html">Fala Comigo</a>
        <hr>
    </nav>
    <form action="mailto:joseigorarruda0@gmail.com">
        <fieldset>
        <br><br>
        <label for="Cnome">Nome:</label>
        <input type="text" name="nome" id="Cnome" size="50" required placeholder="Seu Nome">
        <br><br>
        <label for="email">e-Mail</label>
        <input type="email" id="email" name="email" size="50" placeholder="exemplo@exemplo.com">
        <br><br>
        <label for="number">WhatsApp</label>
        <input type="text" id="number" name="number" size="47" placeholder="81 90000-0000">
        <br><br>
        <label for="Data">Data de nascimento</label>
        <input type="date" id="Data" name="Data" size="47" placeholder="01/00/1000">
        <br><br>
        <textarea name="msg" id="msg" cols="36" rows="10" placeholder="Deixe sua mensagem" required></textarea>
        <br><br>
        <input type="submit" value="Enviar">
           <br><br>
        </fieldset>
           




        
    </form>
    <footer>by jose igor &copy;</footer>
    
        
           
</body>
</html>