<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Space</title>
</head>
<body>
    <header style="display: flex;">
        <!--section foto de perfil-->
<section>
    <img src="images.png" alt="100px" height="100px" width="100px">
</section>
<!--section informações pessoais-->
<section>
    <br> <br> <br>
  &nbsp; &nbsp; &nbsp;  José Igor| 20 Anos | @igorr_galego01 | joseigorarruda@outlook.com
</section>
    </header> 
    <nav>
        <!--Tag href refere-se a um link de navegação-->
        <hr>
        <a href="mySite.html">Eu e eu mesmo</a>
        <a href="entreternimento.html">Enterternimento</a>
        <a href="musicas.html">Música</a>
        <a href="Mycontatos.html">Fala Comigo</a>
        <hr>
    </nav>
    <!--Estrutura principal do site-->
    <main>
<h1>Conheça um pouco do meu mundo</h1>
<p> oi eu sou igor e essas são uma das coisa que eu gosto de fazer Lorem ipsum dolo
   <br> r sit amet consectetur adipisicing elit. Omnis quibusdam itaque natus
    <br> veniam, iste dolorem necessitatibus saepe officiis recusandae doloremque rerum autem,
    <br> quos modi tempora eaque accusamus, quo suscipit. Itaque.
</p>
<ul>
<li>

</li>

 <li>....</li>
 <ul>
 <li>//////</li>
 <li>/////</li>
</ul> <li>/////</li>
 <li>////</li>
 <li>////</li>
 <li>////</li>
 <li>////</li>
 <li>/////</li>




</ul>

    </main>

    <!--Rodapé-->
    <footer>
        By José Igor &copy;
    </footer>
</body>
</html>