h3{
    /*altura*/
    height: 50px; ;
    /*largura*/
    width: 100%;
    /*cor do texto*/
    color: #f3f3f3;
    /*plano de fundo*/
    background-color:rgb(10, 207, 207) ;
    /*alinhamento do texto*/
    text-align: center;
}

a{
/*tirar a linha(underline)_*/
text-decoration: none;
/*tamanho da fonte*/
font-size: 20px;
color: darkred;

}

ul li a{
    /*cria sombra no texto*/
    text-shadow: 2px 3px rgb(204, 25, 25),
                 -4px -6px rgb(204, 25, 25);

}

p#escolhido{
background-color: purple;
/*Bordas*/
border: 3px solid white;
text-align: center;
/*espaçamento entre as letras*/
letter-spacing: 2px;
/*estilo do texto*/
text-transform: uppercase;

}

footer{
    width: 100%;
    height: 70px;
    text-align: center;
    font: size 22px;
    /*espessura da letra*/
    font-weight: bold;
    /*tipo da fonte*/
    font-family: sans-serif;
    color: deepskyblue;
}